<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<html xmlns:th="https://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Restaurant</title>-->

<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" href="/test.css">-->
<!--</head>-->
<!--<body>-->
<!--<header>-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-4 logo">-->
<!--                <div th:text="#{header.restaurant}"></div>-->
<!--            </div>-->
<!--            <div class="col-4 buttons">-->
<!--                <button type="submit" class="btn btn-light" onclick="location.href='?locale=ua'" th:text="#{header.ukr}"></button>-->
<!--                <button type="submit" class="btn btn-light" onclick="location.href='?locale=en'" th:text="#{header.eng}"></button>-->
<!--            </div>-->
<!--            <div class="col-4 logout">-->
<!--                <div>-->
<!--                    <div class="name" th:text="${name}"></div>-->
<!--                    <button type="button" class="btn btn-outline-secondary" onclick="location.href='/logout'" th:text="#{button.logout}"></button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</header>-->
<!--<nav class="menu">-->
<!--    <div class="container">-->
<!--        <ul>-->
<!--            <li><a href="/admin/orders_list">Список заказов</a></li>-->
<!--            <li><a href="/admin/bill_confirm">Отправить счет</a></li>-->
<!--            <li><a href="/admin/statistics">Статистика</a></li>-->
<!--            <li><a href="/admin/update_ingredients">Обновить ингредиенты</a></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</nav>-->
<!--<h1>Заказы, которые ожидают оплаты</h1>-->
<!--<div class="container">-->
<!--    <section class="cart">-->
<!--        <div class="row cart_item">-->
<!--            <div class="col-1">1</div>-->
<!--            <div class="col-4">-->
<!--                <div class="customer">Іван Іванов</div>-->
<!--            </div>-->
<!--            <div class="col-2 info">-->
<!--                <div class="title">-->
<!--                    1000 грн-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-3">-->
<!--                <div class="status">Ожидает оплаты</div>-->
<!--            </div>-->
<!--            <div class="col-2">-->
<!--                <button type="button" class="btn btn-danger">Отправить счет</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--</div>-->
<!--<footer>-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-4">-->
<!--                Osypchuk Vladislav-->
<!--            </div>-->
<!--            <div class="col-4 date">-->
<!--                15.03.2020-->
<!--            </div>-->
<!--            <div class="col-4 version">-->
<!--                Version 1-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->
<!--</body>-->
<!--</html>-->