<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/test.css">
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-4 logo">
                <div th:text="#{header.restaurant}"></div>
            </div>
            <div class="col-4 buttons">
                <button type="submit" class="btn btn-light" onclick="location.href='?locale=ua'" th:text="#{header.ukr}"></button>
                <button type="submit" class="btn btn-light" onclick="location.href='?locale=en'" th:text="#{header.eng}"></button>
            </div>
            <div class="col-4 logout">
                <div>
                    <div class="name" th:text="${name}"></div>
                    <button type="button" class="btn btn-outline-secondary" onclick="location.href='/logout'" th:text="#{button.logout}"></button>
                </div>
            </div>
        </div>
    </div>
</header>
<nav class="menu">
    <div class="container">
        <ul>
            <li><a href="/admin/orders_list" th:text="#{page.listOfOrders}"></a></li>
            <!--            <li><a href="/admin/bill_confirm">Отправить счет</a></li>-->
            <li><a href="/admin/statistics" th:text="#{page.statistics}"></a></li>
            <li><a href="/admin/update_ingredients" th:text="#{page.updateIngredients}"></a></li>
        </ul>
    </div>
</nav>
<h1 th:text="#{text.ingredients}"></h1>
<div class="container">
    <section class="cart">
        <div class="row cart_item">
            <div class="col-3">
                <div th:text="#{field.name}"></div>
            </div>
            <div class="col-3">
                <div th:text="#{field.amount}"></div>
            </div>
            <div class="col-3">
                <div th:text="#{field.maxAmount}"></div>
            </div>
            <div class="col-3">

            </div>
        </div>
        <div class="row cart_item" th:each="item : ${items}">
            <div class="col-3">
                <div th:text="${item.getName()}"></div>
            </div>
            <div class="col-3">
                <div th:text="${item.getAmount()}"></div>
            </div>
            <div class="col-3">
                <div th:text="${item.getMax_amount()}"></div>
            </div>
            <div class="col-3">
                <a type="button" class="btn btn-danger" th:href="@{'?id=' + ${item.getId()}}" th:text="#{page.refill}"></a>
            </div>
        </div>
    </section>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-4" th:text="#{footer.name}">

            </div>
            <div class="col-4 date">
                15.03.2020
            </div>
            <div class="col-4 version" th:text="#{footer.version}">

            </div>
        </div>
    </div>
</footer>
</body>
</html>