<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/test.css">
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-4 logo">
                <div th:text="#{header.restaurant}"></div>
            </div>
            <div class="col-4 buttons">
                <button type="submit" class="btn btn-light" onclick="location.href='?locale=ua'" th:text="#{header.ukr}"></button>
                <button type="submit" class="btn btn-light" onclick="location.href='?locale=en'" th:text="#{header.eng}"></button>
            </div>
            <div class="col-4 logout">
                <div>
                    <<div class="name" th:text="${name}"></div>
                    <button type="button" class="btn btn-outline-secondary" onclick="location.href='/logout'" th:text="#{button.logout}"></button>
                </div>
            </div>
        </div>
    </div>
</header>
<nav class="menu">
    <div class="container">
        <ul>
            <li><a href="/user/menu" th:text="#{page.menu}"></a></li>
            <li><a href="/user/bill" th:text="#{page.bill}"></a></li>
            <li><a href="/user/history" th:text="#{page.history}"></a></li>
            <li><a href="/user/cart" th:text="#{page.cart}"></a></li>
            <li><a href="/user/refill" th:text="#{page.refill}"></a></li>
        </ul>
    </div>
</nav>
<h1 th:text="#{page.cart}"></h1>
<div th:if="${param.ok != null}">
    <div class="alert alert-info" role="alert" th:text="#{alert.cart}"></div>
</div>
<div class="container">
    <section class="cart">
        <div class="row cart_item">

    <div class="col-1" th:text="#{field.id}"></div>
    <div class="col-3">
        <div class="title"  th:text="#{field.img}">
        </div>
    </div>
        <div class="col-4 info">
            <div class="title"  th:text="#{field.order}">
            </div>
        </div>
            <div class="col-1">
                <div class="price"  th:text="#{field.sum}"></div>
            </div>
            <div class="col-1">
            </div>
        </div>
</section>
</div>
<div class="container">
    <section class="cart">

        <div class="row cart_item" th:each="dish : ${order}">
            <div class="col-1" th:text="${dish.get().id}"></div>
            <div class="col-3">
                <img th:src="${dish.get().image}" alt="">
            </div>
            <div class="col-4 info">
                <div class="title"  th:text="${dish.get().name_eng}">

                </div>
                <div class="ingredients">
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                </div>
            </div>
            <div class="col-1">
                <div class="price"  th:text="${dish.get().price}"></div>
            </div>
<!--            <div class="col-1">-->
<!--                <div class="sum">2</div>-->
<!--            </div>-->
<!--            <div class="col-1">-->
<!--                <div class="value">₴1000</div>-->
<!--            </div>-->
            <div class="col-1">
                <a th:href="@{'?id=' + ${dish.get().id}}">
                <div class="cross">
                    <span></span>
                    <span></span>
                </div>
                </a>
            </div>
        </div>
        <div class="summary">
            <div class="title" th:text="#{text.summary}"></div>
            <div class="amount" th:text="${sum}"></div>
        </div>
        <button type="button" class="btn btn-outline-success"  onclick="location.href='?ok=true'" th:text="#{button.ok}"></button>
    </section>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-4" th:text="#{footer.name}">

            </div>
            <div class="col-4 date">
                15.03.2020
            </div>
            <div class="col-4 version" th:text="#{footer.version}">

            </div>
        </div>
    </div>
</footer>
</body>
</html>