<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/test.css">
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-4 logo">
                <div th:text="#{header.restaurant}"></div>
            </div>
            <div class="col-4 buttons">

                <button type="submit" class="btn btn-light" onclick="location.href='?locale=ua'"  th:text="#{header.ukr}"></button>
                <button type="submit" class="btn btn-light" onclick="location.href='?locale=en'"  th:text="#{header.eng}"></button>
            </div>
            <div class="col-4 logout">
                <div>
                    <th:block  th:if="${#locale.toString() == 'ua'}">
                        <div class="name" th:text="${user.getNameUkr()}"></div>
                        <button type="button" class="btn btn-outline-secondary" onclick="location.href='/logout'" th:text="#{button.logout}"></button>

                        <div class="name" th:text="#{header.balance} +' '+ ${user.getBalance()} + #{header.currency}"></div>
                    </th:block>
                    <th:block th:unless="${#locale.toString() == 'ua'}" >
                        <div class="name" th:text="${user.getNameEng()}"></div>
                        <button type="button" class="btn btn-outline-secondary" onclick="location.href='/logout'" th:text="#{button.logout}"></button>

                        <div class="name" th:text="#{header.balance} +' '+ ${user.getBalance()/8} + #{header.currency}"></div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</header>
<nav class="menu">
    <div class="container">
        <ul>
            <li><a href="/user/menu" th:text="#{page.menu}"></a></li>
            <li><a href="/user/bill" th:text="#{page.bill}"></a></li>
            <li><a href="/user/history" th:text="#{page.history}"></a></li>
            <li><a href="/user/cart" th:text="#{page.cart}"></a></li>
            <li><a href="/user/refill" th:text="#{page.refill}"></a></li>
        </ul>
    </div>
</nav>
<h1 th:text="#{page.cart}"></h1>
<div th:if="${param.success != null}">
    <div class="alert alert-info" role="alert" th:text="#{alert.cart}"></div>
</div>
<div class="container">
    <section class="cart">
        <div class="row cart_item">

    <div class="col-3">
        <div class="title"  th:text="#{field.img}">
        </div>
    </div>
        <div class="col-4 info">
            <div class="title"  th:text="#{field.order}">
            </div>
        </div>
            <div class="col-1">
                <div class="price"  th:text="#{field.sum}"></div>
            </div>
            <div class="col-1">
            </div>
        </div>
</section>
</div>
<div class="container">
    <section class="cart">

        <div class="row cart_item" th:each="dish : ${order}">
            <div class="col-3">
                <img th:src="${dish.getImage()}" alt="">
            </div>
            <div class="col-4 info">
                <div class="title"  th:text="${dish.getName()}">
                </div>
                    <div th:each="ingredient : ${dish.getIngredients()}">
                        <p class="card-text" th:text="${ingredient.getName()}"></p>
                    </div>
            </div>
            <div class="col-4">
                <div class="price"  th:text="${dish.getPrice()} + #{header.currency}"></div>
            </div>
            <div class="col-1">
                <form th:action="'/user/deleteFromOrder'+${dish.getId()}" method="post" >
                    <input type="submit" class="btn btn-primary red-btn" th:value="#{button.delete}">
                </form>
            </div>
        </div>
        <div class="summary">
            <div class="title" th:text="#{text.summary}"></div>
            <th:block  th:if="${#locale.toString() == 'ua'}">
                <div class="amount" th:text="${sum}"></div>
            </th:block>
            <th:block th:unless="${#locale.toString() == 'ua'}" >
                <div class="amount" th:text="${sum/8}"></div>
            </th:block>
        </div>
        <th:block  th:if="${sum > 0}">
            <form th:action="@{/user/confirm}" method="post" >
                <input type="submit" class="btn btn-primary green-btn" th:value="#{button.ok}">
            </form>
        </th:block>

    </section>
</div>
<footer>
    <div class="container">
        <div class="row footer_info">
            <div class="col-4 footer-col logo" th:text="#{header.restaurant}">
            </div>
            <div class="col-4 footer-col contacts">
                <div class="title" th:text="#{footer.contacts}"></div>
                <a href="tel:+380935947785" class="phone">+38 093 594 77 85</a>
                <a href="mailto:kelels2015@gmail.com" class="email">kelels2015@gmail.com</a>
                <a href="https://github.com/kelelas">github.com/kelelas</a>
            </div>
            <div class="col-4 footer-col version">
                <div class="title" th:text="#{footer.version}">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row copyright">
            <div class="col-12">
                Made by Osypchuk Vladyslav
            </div>
        </div>
    </div>
</footer>
</body>
</html>