<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/test.css">
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-4 logo">
                <div th:text="#{header.restaurant}"></div>
            </div>
            <div class="col-4 buttons">
                <button type="submit" class="btn btn-light" onclick="location.href='?locale=ua'" th:text="#{header.ukr}"></button>
                <button type="submit" class="btn btn-light" onclick="location.href='?locale=en'" th:text="#{header.eng}"></button>
            </div>
            <div class="col-4 logout">
                <div>
                    <th:block  th:if="${#locale.toString() == 'ua'}">
                        <div class="name" th:text="${user.getNameUkr()}"></div>
                        <button type="button" class="btn btn-outline-secondary" onclick="location.href='/logout'" th:text="#{button.logout}"></button>

                        <div class="name" th:text="#{header.balance} +' '+ ${user.getBalance()} + #{header.currency}"></div>
                    </th:block>
                    <th:block th:unless="${#locale.toString() == 'ua'}" >
                        <div class="name" th:text="${user.getNameEng()}"></div>
                        <button type="button" class="btn btn-outline-secondary" onclick="location.href='/logout'" th:text="#{button.logout}"></button>

                        <div class="name" th:text="#{header.balance} +' '+ ${user.getBalance()/8} + #{header.currency}"></div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</header>
<nav class="menu">
    <div class="container">
        <ul>
            <li><a href="/user/menu" th:text="#{page.menu}"></a></li>
            <li><a href="/user/bill" th:text="#{page.bill}"></a></li>
            <li><a href="/user/history" th:text="#{page.history}"></a></li>
            <li><a href="/user/cart" th:text="#{page.cart}"></a></li>
            <li><a href="/user/refill" th:text="#{page.refill}"></a></li>
        </ul>
    </div>
</nav>
<h1 th:text="#{text.history}"></h1>

<div class="container">
    <section class="cart">
        <div class="row cart_item">
            <div class="col-2" th:text="#{field.img}"></div>
            <div class="col-4">
                <div class="customer" th:text="#{field.order}"></div>
            </div>
            <div class="col-1 info">
                <div class="title" th:text="#{field.sum}">
                </div>
            </div>
            <div class="col-2">
                <span th:text="#{field.date}"></span>
            </div>
            <div class="col-1 info">
                <div class="title" th:text="#{field.status}">
                </div>
            </div>
        </div>
    </section>
</div>
<div class="container">
    <section class="cart">

        <div class="row cart_item" th:each="item : ${items.content}">
            <div class="col-2">
                <img src="/img/food.jpg" alt="">
            </div>
            <div class="col-4 info in_column" >
                <div th:each="dish : ${item.getDishes()}">
                    <div class="title" th:text="${dish.getName()}">
                </div>
                </div>
            </div>
            <div class="col-1">
                <div class="price" th:text="${item.getPrice()} + #{header.currency}"></div>
            </div>

            <div class="col-2">
                <div class="date_time">
                    <span th:text="${item.getDate()}"></span>
                </div>
            </div>
            <div class="col-1">
                <div class="date_time">
                    <span th:text="${item.getStatus()}"></span>
                </div>
            </div>
        </div>
    </section>
</div>
<nav class="pagination">
    <ul>
        <th:block th:if="${items.hasPrevious()}">
            <li class="page-item"><a class="page-link"  th:href="@{'?page=' + ${items.getNumber()-1}}">Previous</a>
            </li>
        </th:block>
        <th:block th:each="n : ${#numbers.sequence(0, items.getTotalPages() - 1)}">
            <th:block  th:if="${items.getNumber() == n}">
                <li class="page-item active">
            <a  class="page-link">
               [[${n+1}]]<span class="sr-only">(current)</span>
            </a>
                </li>
            </th:block>
            <th:block th:unless="${items.getNumber() == n}" >
                <li class="page-item" >
                    <a class="page-link" th:href="@{'?page=' + ${n}}">
                        [[${n+1}]]
                    </a>
                </li>
            </th:block>
        </th:block>
        <th:block th:if="${items.hasNext()}" >
            <li class="page-item"><a class="page-link"
                                     th:href="@{'?page=' + ${items.getNumber()+1}}"
                                     >Next</a>
            </li>
        </th:block>
    </ul>
</nav>
<footer>
    <div class="container">
        <div class="row footer_info">
            <div class="col-4 footer-col logo" th:text="#{header.restaurant}">
            </div>
            <div class="col-4 footer-col contacts">
                <div class="title" th:text="#{footer.contacts}"></div>
                <a href="tel:+380935947785" class="phone">+38 093 594 77 85</a>
                <a href="mailto:kelels2015@gmail.com" class="email">kelels2015@gmail.com</a>
                <a href="https://github.com/kelelas">github.com/kelelas</a>
            </div>
            <div class="col-4 footer-col version">
                <div class="title" th:text="#{footer.version}">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row copyright">
            <div class="col-12">
                Made by Osypchuk Vladyslav
            </div>
        </div>
    </div>
</footer>
</body>
</html>