<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet"  href="/test.css">
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-4 logo">
                <div th:text="#{header.restaurant}"></div>
            </div>
            <div class="col-4 buttons">
                <button type="submit" class="btn btn-light" onclick="location.href='?locale=ua'" th:text="#{header.ukr}"></button>
                <button type="submit" class="btn btn-light" onclick="location.href='?locale=en'" th:text="#{header.eng}"></button>
            </div>
            <div class="col-4 logout">
                <div>
                    <th:block  th:if="${#locale.toString() == 'ua'}">
                        <div class="name" th:text="${user.getNameUkr()}"></div>
                        <button type="button" class="btn btn-outline-secondary" onclick="location.href='/logout'" th:text="#{button.logout}"></button>

                        <div class="name" th:text="#{header.balance} +' '+ ${user.getBalance()} + #{header.currency}"></div>
                    </th:block>
                    <th:block th:unless="${#locale.toString() == 'ua'}" >
                        <div class="name" th:text="${user.getNameEng()}"></div>
                        <button type="button" class="btn btn-outline-secondary" onclick="location.href='/logout'" th:text="#{button.logout}"></button>

                        <div class="name" th:text="#{header.balance} +' '+ ${user.getBalance()/8} + #{header.currency}"></div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</header>
<nav class="menu">
    <div class="container">
        <ul>
            <li><a href="/user/menu" th:text="#{page.menu}"></a></li>
            <li><a href="/user/bill" th:text="#{page.bill}"></a></li>
            <li><a href="/user/history" th:text="#{page.history}"></a></li>
            <li><a href="/user/cart" th:text="#{page.cart}"></a></li>
            <li><a href="/user/refill" th:text="#{page.refill}"></a></li>
        </ul>
    </div>
</nav>
<section class="rest_menu">
    <div class="container">
        <div class="row">

            <div class="col-4" th:each="dish : ${dishes}">
                <div class="card" style="width: 18rem;">
                            <img th:src="${dish.getImage()}" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${dish.getName()}"></h5>
                            <div th:each="ingredient : ${dish.getIngredients()}">
                            <p class="card-text" th:text="${ingredient.getName()}"></p>
                            </div>
                            <div class="wrapper">
                                <span class="price" th:text="${dish.getPrice()} + #{header.currency}"></span>
                                <form th:action="'/user/addToOrder'+${dish.getId()}" method="post" >
                                    <input type="submit" class="btn btn-primary" th:value="#{button.basket}">
                                </form>
                            </div>

                        </div>

                    </div>

                </div>

        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row footer_info">
            <div class="col-4 footer-col logo" th:text="#{header.restaurant}">
            </div>
            <div class="col-4 footer-col contacts">
                <div class="title" th:text="#{footer.contacts}"></div>
                <a href="tel:+380935947785" class="phone">+38 093 594 77 85</a>
                <a href="mailto:kelels2015@gmail.com" class="email">kelels2015@gmail.com</a>
                <a href="https://github.com/kelelas">github.com/kelelas</a>
            </div>
            <div class="col-4 footer-col version">
                <div class="title" th:text="#{footer.version}">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row copyright">
            <div class="col-12">
                Made by Osypchuk Vladyslav
            </div>
        </div>
    </div>
</footer>
</body>
</html>