<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet"  href="/test.css">
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-4 logo">
                <div th:text="#{header.restaurant}"></div>
            </div>
            <div class="col-4 buttons">
                <button type="submit" class="btn btn-light" onclick="location.href='?locale=ua'" th:text="#{header.ukr}"></button>
                <button type="submit" class="btn btn-light" onclick="location.href='?locale=en'" th:text="#{header.eng}"></button>
            </div>
            <div class="col-4 logout">
                <div>
                    <div class="name" th:text="${name}"></div>
                    <button type="button" class="btn btn-outline-secondary" onclick="location.href='/logout'" th:text="#{button.logout}"></button>
                </div>
            </div>
        </div>
    </div>
</header>
<nav class="menu">
    <div class="container">
        <ul>
            <li><a href="/user/menu" th:text="#{page.menu}"></a></li>
            <li><a href="/user/bill" th:text="#{page.bill}"></a></li>
            <li><a href="/user/history" th:text="#{page.history}"></a></li>
            <li><a href="/user/cart" th:text="#{page.cart}"></a></li>
            <li><a href="/user/refill" th:text="#{page.refill}"></a></li>
        </ul>
    </div>
</nav>
<section class="rest_menu">
    <div class="container">
        <div class="row">

            <div class="col-4" th:each="dish : ${dishes}">
                <div class="card" style="width: 18rem;">
                            <img th:src="${dish.getImage()}" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${dish.getName()}"></h5>
<!--                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                            <p class="card-text" th:text="#{text.mainIngredient} + ' ' + ${dish.getMain_ingredient()} + ' ' + #{text.offIngredient} + ' ' + ${dish.getOff_ingredient()}"></p>
                            <span class="price" th:text="${dish.getPrice()}"></span>
                            <a th:href="@{'?id=' + ${dish.getId()}}" class="btn btn-primary" th:text="#{button.basket}"></a>
                        </div>

                    </div>

                </div>

        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-4" th:text="#{footer.name}">

            </div>
            <div class="col-4 date">
                15.03.2020
            </div>
            <div class="col-4 version" th:text="#{footer.version}">

            </div>
        </div>
    </div>
</footer>
</body>
</html>