<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/test.css">
</head>
<body>
    <section class="title_with_img">
        Ресторан
    </section>
    <section class="descr">
        <div class="container">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ultricies tristique nulla aliquet enim tortor at auctor urna nunc. Pellentesque massa placerat duis ultricies lacus sed turpis tincidunt. Vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor. Adipiscing at in tellus integer feugiat. Adipiscing enim eu turpis egestas pretium aenean. Imperdiet nulla malesuada pellentesque elit eget. Cras sed felis eget velit aliquet sagittis id consectetur. Vitae congue eu consequat ac felis donec et. Sem et tortor consequat id. Ac tortor vitae purus faucibus ornare suspendisse sed nisi lacus.
            Sagittis nisl rhoncus mattis rhoncus urna neque. Feugiat sed lectus vestibulum mattis ullamcorper velit. Turpis in eu mi bibendum neque egestas congue quisque. Massa ultricies mi quis hendrerit dolor. Ornare suspendisse sed nisi lacus. Tortor condimentum lacinia quis vel eros donec ac odio tempor. Sed blandit libero volutpat sed cras ornare arcu dui vivamus. Tellus orci ac auctor augue mauris augue neque. Elit pellentesque habitant morbi tristique senectus et netus et malesuada. Dolor morbi non arcu risus. Mollis nunc sed id semper risus in. Est sit amet facilisis magna etiam. Volutpat diam ut venenatis tellus in. Consequat ac felis donec et. Vestibulum mattis ullamcorper velit sed. Aliquam malesuada bibendum arcu vitae elementum curabitur vitae. Commodo viverra maecenas accumsan lacus. Porttitor eget dolor morbi non arcu risus.
        </div>
    </section>
</body>
</html>