<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/test.css">
</head>
<body>
    <h1>Заказы</h1>
    <div class="container">
    <section class="cart">
            <div class="row cart_item">
                    <div class="col-1">1</div>
                    <div class="col-4">
                        <div class="customer">Іван Іванов</div>
                    </div>
                    <div class="col-2 info">
                        <div class="title">
                            1000 грн
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="status">В обработке</div>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-success">Подтвердить</button>
                    </div>
            </div>
    </section>
</div>
</body>
</html>